 .page-wrapper {
    background: linear-gradient(135deg, #e0f7fa 0%, #f1f8e9 100%);;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
a {
    color: #10ac84;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}
a:hover {
    color: #0d8a6a;
    text-decoration: underline;
}
.text-primary {
    color: #10ac84 !important;
}
.text-primary:hover {
    color: #0d8a6a !important;
}

a.btn {
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}


/* Clase base para una transición suave de color */
.btn-subtle-hover {
    transition: background-color 0.25s ease-in-out;
    border: none !important;
}

/* Hover para 'Ver Ficha' (Un gris un poco más oscuro) */
.btn-ficha-hover:hover {
    background-color: #f1f3f5 !important;
}

/* Hover para Editar */
.btn-edit-hover:hover {
    background-color: #dee2e6 !important;
}

/* Hover para Eliminar (Un rojo apenas más intenso) */
.btn-delete-hover:hover {
    background-color: #fecaca !important;
}

/* Botón Agregar (Un verde un poco más oscuro) */
.btn-add-hover:hover {
    background-color: #1a6d2d !important;
}
